@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: 'Skranji', cursive;
}
#listItem{
  font-family: 'Skranji', cursive;
}
body{
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#toDoContainer{
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : space-between;
  border-radius : 15px;
}
.settingsContainer{
  width: 200px;
  height: 200px;
  background-color: red;
}
.sideBySide{
  display: flex;
}
.settingsContainer{
  display: none;
}
#cookiesDialog{
  width : 400px;
height : 200px;
background-color : gray;
border-radius : 15px;
display : flex;
flex-direction : column;
gap : 10px;
align-items : center;
justify-content : center;
position : fixed;
left : 0px;
top : 0px;
}
#info{
padding : 10px;
background-color : lightgray;
}
input{
width : 230px;
border-radius: 5px;
}
::placeholder {
  color: red;
  text-align: center;
}
button{
  border-radius: 10px;
}
img {
width : 50px;
position : absolute;
top : 10px;
animation: rotate 5s linear infinite;
}
@keyframes rotate{
  from{
    transform : rotate(0deg);
  }
  to{
    transform : rotate(360deg);
  }
}